@font-face {
  font-family: 'beFont';
  src: url('../font/beFont.eot?#iefix');
  src: url('../font/beFont.woff') format('woff'), url('../font/beFont.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
	padding: 0;
	margin: 0;
	min-height: 100%;
}

body {
	background-color: #2A2A2A;
	font-family: sans-serif;
	color: #111;
}

#flex {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100%;
}

#wrapper {
	border: 1px solid #111;
	-webkit-border-radius:1em;
	border-radius: 1em;
	max-width: 20em;
	margin: 1em auto;
	background-color: white;
	border-radius: 5px;
}

h {
    font-family: 'beFont', monospace;
    color: #FFC336;
    font-size: 4em;
    line-height: 1.5em;
    text-shadow: #FFC400 0 0 5px;

    text-align: center;
    letter-spacing: .07em;

    margin: 0;
    padding: 0 3rem;
}

h::before {
	content: "8888888";
	position: absolute;
	opacity: 0.2;
}

#wrapper header nav a {
	margin-left: 1.5em;
}

ul {
	margin: .5em 0 0 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #ccc;
	color: black;
}

li a {
	color: black;
	text-decoration: none;
	padding: 1em;
	font-size: 1.5em;
	cursor: pointer;
	display: block;
}

li a:hover {
	background: #222;
	color: #ccc;
}
