name: deploy
on:
  push:
    paths-ignore:
      - '.github/**'
    branches:
      - main
  schedule:
    - cron: '4 22 * * *'
concurrency: production_environment
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://humanoids.be
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/gallium'
          cache: 'npm'
      - run: npm ci --no-audit
      - run: npm run build
        name: build
      - uses: kostya-ten/ssh-server-deploy@v4
        name: deploy
        with:
          host: ${{ secrets.SERVER_HOST }}
          port: ${{ secrets.SERVER_PORT }}
          username: ${{ secrets.SERVER_USERNAME }}
          private_key: ${{ secrets.PRIVATE_KEY }}
          scp_source: dist/*
          scp_target: ~/public_html/hbp/
